/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.browser-upgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page header */
.header {
  padding-bottom: 3rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color: black;
}

h4 {
  color: black;
}

.header img {
  padding-left: 1em;
}

.nav-link {
  color: blue;
  font-weight: bold;
}

.table td {
  color: black;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: black;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

.container-narrow > hr {
  margin: 2rem 0;
}

.form, .table-data {
  margin: 1.5rem 0;
  color: black;
}

.required label {
  font-weight: bold;
}

.required label:after {
  color: #e32;
  content: ' *';
  display: inline;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

.btn-space {
  margin-right: 0.5rem;
}

/**
Spinner styling
 */
.spinner-message {
  text-align: center;
}



